
//Global 
@import "global/variables";
// Vendor

// Layout
@import "bootstrap-overrides";
@import "layout.scss";

// Partials
@import "partials/clearfix";

// Modules

// Components
@import "components/radio-group";

// Pages
@import "pages/login";
@import "pages/page";

@import "pages/respuesta-create";

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
	background-color: darkcyan;
}
h1 {
	color: red;
}
.center {
	margin: 0 auto;
	float: none;
}

